@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import "./SASS/config";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  background: $Cream;
  @include flex();
}
